.header-wrapper
	.header
		.header__container
			a.header__logo(href="#") OLEX.
			.header__menu.menu
				nav.menu__body
					ul.menu__list
						li.menu__item
							a.menu__link(href="#store ") Home
						li.menu__item
							a.menu__link#link(href="https://google.com") About
						li.menu__item
							a.menu__link(href="#blog") Blog
						li.menu__item
							a.menu__link(href="#account") Account
						li.menu__item
							a.menu__link(href="#login") login
	.hero
		.hero__container
			h1.hero__title Revolutionary Online<br>Application at your service
			h2.hero__sub-title Felis amet adipiscing blandit gravida.
			button.button.hero__button Sign in