extends tpl

block vars
	- var title = "Home"
	
block content
	main.page
		.hero
			.hero__container
				include scss/pages/index/01_hero
		.next
			.next__container
				include scss/pages/index/02_next