extends tpl

block vars
	- var title = "Home"

block content
	main.page
		include scss/pages/indexpage/02_next
		include scss/pages/indexpage/03_options
		include scss/pages/indexpage/04_social
		include scss/pages/indexpage/05_faq
		include scss/pages/indexpage/06_citation