block vars
	- var title = "Title tpl"

html(lang="en")
	head
		block head
			include scss/pages/head
			title #{title}
	body
		button.menu__icon.icon-menu(type="button" title="menu button")
			span.icon-menu__before
			span.icon-menu__center
			span.icon-menu__after
		.wrapper
			block header
				.header
					//- .header__container
					include scss/pages/header

			block content

			block footer
				.footer
					.footer__container
						include scss/pages/footer